.activity {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.activity__semaphore-container {
  display: flex;
}

.activity__semaphore {
  background-color: #FB6E4C;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.activity__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 25px;
}

.title {
  color: #B63F88;
  margin-bottom: 0.5rem;
}

.time {
  color: #B63F88;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
}

.description {
  line-height: 1.35rem;
  font-weight: 150;
}
