.activity {
  display: flex;
  flex-direction: row;
}

.activity__semaphore-container {
  background-color: red;
  display: flex;
}

.activity__semaphore {
  background-color: orange;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.activity__info {
  display: flex;
  flex-direction: column;
  background-color: grey;
  width: 100%;
  padding-left: 15px;
}
