.notice-item {
  color: #b63f88;
  font-family: 'Lato Bold';
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 10px;
  text-align: left;
  margin-bottom: 10px;
  max-width: 400px;
  font-size: 0.8rem;
}
.notice-list {
  width: 100%;
  margin:0 auto;
  margin-left: 1rem;
}

.notice-list h3 {
  color: #b63f88;
}

.notice-item::marker {
  color: #ff631b;
}
