.educational-materials {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  color: #b64f88;
  width: 80%;
  margin: auto;
}

.educational-materials__category {
  display: flex;
  justify-content: flex-end;
}

/* Large Screens */
@media screen and (min-width: 680px) {
  .educational-materials {
    padding-left: 30px;
    padding-right: 30px;
  }
}
