.motion-list {
  width: 80%;
  margin: auto;
  height: 400px;
}

.motion-container-list {
  height: 300px;
  max-height: 400px;
  padding-right: 15px;
  overflow-y: scroll;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.motion-item {
  display: flex;
  align-items: flex-start;
  color: #b63f88;
  font-family: 'Lato Bold';
  line-height: 34px;
  min-height: 40px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 1rem;
  border: 2px solid #f1f1f1;
  border-radius: 16px;
  list-style: none;
  padding-left: 25px;
  margin-bottom: 5px;
  overflow: hidden;
  overflow: hidden;
  padding-right: 10px;
  background: linear-gradient(90deg, #b63f88, #b63f88 2.5%, rgba(255, 255, 255, 0) 2.5%);
}

.motion-item p {
  white-space: normal;
}

.motion-list h3 {
  color: #b63f88;
  font-size: 32px;
}

.motion-list h4 {
  color: #a2236e;
}

.notice-item::marker {
  color: #ff631b;
}

@media only screen and (max-width: 768px) {
  .motion-item {
    max-width: 100%;
    word-wrap: break-word;
    overflow: visible;
    white-space: initial;
    line-height: 16px;
    margin-bottom: 10px;
    padding-bottom: 3px;
    padding-top: 11px;
  }
  .motion-item {
    background: linear-gradient(90deg, #b63f88, #b63f88 6%, rgba(255, 255, 255, 0) 6%);
  }
  .motion-list {
    margin-left: 0rem;
  }
}

@media screen and (max-width: 760px) {
  .motion-list {
    width: 100%;
    margin: auto;
  }
}
