
.motion-list{
  width: 90%;
  height: 300px;
  position: absolute;
  overflow-y: scroll;
  padding-right: 10px;
}
.motion-item {
  color: #b63f88;
  font-family: 'Lato Bold';
  line-height: 34px;
  height: 34px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 600px;
  font-size: 0.8rem;
  border: 2px solid #f1f1f1;
  border-radius: 50px;
  list-style: none;
  padding-left: 25px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 10px;
  

}

.motion-item::before {
  width: 12px;
  height: 32px;
  background: #b63f88;
  content: 'A';
  border: 2px solid;
  position: absolute;
  border-radius: 20px 0px 0px 20px;
  margin-left: -27px;
  margin-top: -1px;
}
.motion-list {
  margin-left: 2rem;
}
.motion-list h3 {
  color: #b63f88;
}

.motion-list h4 {
  color: #a2236e;
}

.notice-item::marker {
  color: #ff631b;
}

@media only screen and (max-width: 768px) {
  .motion-item {
    max-width: 100%;
    word-wrap: break-word;
    overflow: visible;
    white-space: initial;
    line-height: 16px;
    margin-bottom: 10px;
    padding-bottom: 3px;
    padding-top: 11px;
  }
  .motion-item::before {
    width: 12px;
    height: 45px;
    background: #b63f88;
    content: 'A';
    border: 2px solid;
    position: absolute;
    border-radius: 20px 0px 0px 20px;
    margin-left: -25px;
    margin-top: -11px;
  }
  .motion-list{
    margin-left: 0rem;
  }
}