.winners-grid {
  width: 59%;
  min-height: 200px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 0 auto;
  box-sizing: border-box;
}

.slider-winner-container {
  margin: 0 auto;
}

.winners-grid .react-multiple-carousel__arrow {
  background: orange !important;
  min-width: 32px !important;
  min-height: 32px !important;
}

.winners-grid .react-multiple-carousel__arrow--left {
  left: 0rem;
}

.winners-grid .react-multiple-carousel__arrow--right {
  right: 0rem;
}
