.winners-grid {
  width: 59%;
  min-height: 200px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 0 auto;
  box-sizing: border-box;
}

.winners-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.winners-grid .react-multiple-carousel__arrow {
  background: orange !important;
  min-width: 32px !important;
  min-height: 32px !important;
}

.winners-grid .react-multiple-carousel__arrow--left {
  left: 0rem;
}

.winners-grid .react-multiple-carousel__arrow--right {
  right: 0rem;
}

@media screen and (min-width: 1280px) {
  .winners-grid {
    /* background: blue; */
    width: 55%;
    min-height: 200px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0rem 1rem;
  }
  section {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1920px) {
  /*For Projectors or Higher Resolution Screens (Full HD)*/

  /* .winners-grid {
    background: red;
  } */
  section {
    margin: 0 auto;
    width: 1464px;
  }
}
@media screen and (min-width: 3840px) {
  /*For 4K Displays (Ultra HD)*/
  /* .winners-grid {
    background: brown;
  } */
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .winners-grid {
    margin-bottom: 1rem;
    padding: 0px;
    width: 100%;
  }
  .slider-winner-container {
    width: 100% !important;
  }
  .winner-card,
  .winner-description,
  .winner-photo {
    width: 315px !important;
    height: 320px !important;
    border-radius: 20px !important;
    width: 100% !important;
  }
}
