.my-site-menu {
  border-radius: 20px;
  border: 1px solid lightgray;
  width: 40%;
  height: 580px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-image: url(./img/patron-bottom.svg);
  background-repeat: no-repeat;
  background-position: -10px 102%;
  background-size: 105%;
}
  
.info-title {
  color: #b64f88;
}
  


@media only screen and (max-width: 768px) {
  .my-site-menu {
    width: 100%;
  }

}
  
