.steps-slider {
  display: flex;
  justify-content: center;
  height: 350px;

  width: 100%;
}

.steps-slider__carrousel {
  width: 100%;
}

.steps-slider__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
