.footer {
  background: url('./bg.svg');
  margin-top: 4rem;
  min-height: 130px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 50px;
  box-sizing: border-box;
}

.footer__column {
  flex: 1;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  color: #fff;
}

.footer__logos {
  display: flex;
  margin-top: 45px;
  margin-left: 2rem;
  width: 95%;
}

.footer__logo {
  width: 50%;
}

.footer p,
.footer h3 {
  text-align: left;
}

.footer h3 {
  text-transform: uppercase;
  font-size: 1rem;
  border-bottom: 2px solid orange;
}
