.winner-card {
  height: 160px;
  width: 145px;
  border-radius: 10px;
  display: flex;
}

.winner-photo {
  height: 160px;
  width: 145px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  position: absolute;
  z-index: 1;

  box-sizing: border-box;
}

.winner-description {
  position: absolute;
  height: 160px;
  width: 145px;
  border-radius: 10px;
  color: white;
  z-index: 0;
  transition: all 0.2s ease;
  opacity: 0.2;
}

.winner-card:hover .winner-description {
  background-color: #b64f88;
  z-index: 1;
  opacity: 0.9;
  display: block;
}

.winner-card:hover .winner-description-content {
  bottom: 0;
  opacity: 1;
}

.winner-description-content {
  bottom: -40px;
  position: absolute;
  width: 145px;
  padding: 10px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  text-align: left;
}

.winner-description-content h2 {
  font-size: 1rem;
}

.winner-description-content h3 {
  font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
  .winner-card {
    height: 0;
  }
  .winner-card::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 100% !important;
  }
}