.schedule {
  width: 100%;
  margin: auto;
}

.schedule__category {
  display: flex;
  justify-content: flex-end;
}

/* Large Screens */
@media screen and (min-width: 680px) {
  .schedule {
    width: 70%;
    margin: auto;
  }
}
