.banner {
  display: flex;
  flex-wrap: wrap;
}

.banner__column {
  flex: 1;
}

.banner__info {
  flex-basis: 20%;
  padding: 15px;
  padding-top: 4rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

.banner__info h2 {
  color: #a2236e;
  margin: 1rem;
  font-size: 1.9rem;
  font-family: 'Lato Bold';
}

.banner__info p {
  color: #5d2f6a;
  margin: 1rem;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: 'Lato Light';
}
.banner__info p b {
  font-family: 'Lato Bold';
}

.banner_info img {
  margin-bottom: 3rem;
}

.banner__art {
  flex-basis: 30%;
  background: url('./img/patron.svg');
  background-position: 10% 30%;
  background-size: cover;
}
.banner__art img {
  display: inline-block;
}
.banner__logo {
  margin-left: 1rem;
  margin-bottom: 2rem;
}
